# comentario en htaccess

Options +FollowSymlinks
RewriteEngine On

RewriteBase /aAlumnos/iconos35/Mexflix
# RewriteBase /

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^(.*)$ index.php?p=$1 [L]
