# comentario en htaccess

Options +FollowSymlinks
RewriteEngine On

RewriteBase /aClases/PHP/maratones
# RewriteBase /

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^(.*)$ index.php?s=$1 [L]
